:root {
  --color-background: #222831;
  --color-contents: #393e46;
  --color-info: #00adb5;
  --color-font: #eeeeee;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
}

body {
  height: 100vh;
  font: 1.6rem 'Helvetica, Arial, sans-serif';
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: var(--color-contents);
}

button {
  font: 1.6rem helvetica;
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: var(--color-info);
}

.fw {
  width: 100%;
}

.success {
  color: #40c040;
}

.error {
  color: #c04040;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--color-background);
  color: var(--color-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: var(--color-font);
  font-weight: bold;
  text-decoration: none;
}

header a:hover {
  color: var(--color-contents);
}
.brand a {
  font-size: 3rem;
}

footer {
  background: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-font);
}

/* Products */

.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.products li {
  flex: 0 1 30 rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 42rem;
  border-top: 0.2rem #e0e0e0 solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.product img {
  width: 220rem;
  height: 26rem;
  max-width: 22rem;
  max-height: 26rem;
  margin-top: 2rem;
}

.product-name {
  line-height: 2.2rem;
}

.product-brand {
  font-size: 1.2rem;
  color: #808080;
}

.product-price {
  font-size: 2rem;
}

/* Rating */

.rating {
  color: #ffc000;
  font-size: 1.8rem;
}

.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}

.content {
  padding: 1rem;
}

/* Product Details */

/* .contents {
  margin: 0 auto;
  display: grid;
} */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; */
}

.details-image {
  flex: 1 2 60rem;
  /* grid-column-start: 1;
  grid-column-end: 1; */
}

.details-image img {
  max-width: 600rem;
  width: 100%;
}

.details-info,
.details-action {
  flex: 1 1 30rem;
  /* grid-column-start: 2;
  grid-column-end: 2; */
}

.details-info ul,
.details-action ul {
  padding: 0;
  list-style-type: none;
}

.details-info h1 {
  font-size: 2rem;
  margin: 0;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
